.App {
	background-color: #e0e2e4;
	font-family: Arial, Helvetica, sans-serif;
}

.App-header {
	background-color: #e0e2e4;
	font-size: calc(5px + 2vmin);
	font-weight: bold;
	color: black;
	padding: 7px;
}
.Filter {
	background-color: white;
	font-size: calc(5px + 2vmin);
	color: black;
	margin: 8px;
}
.FilterYear {
	background-color: white;
	font-size: calc(5px + 2vmin);
	color: black;
	margin: 3px;
}
img {
	width: 100%;
	height: auto;
	margin: 5px;
	background-color: #e0e2e4;
	align-content: center;
}

.App-footer {
	background-color: #e0e2e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(2px + 2vmin);
	font-weight: bold;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
